/* Theme Colors */
$light_color: #f7f9fb;
$second_shade: #8fc1e3;
$third_shade: #5085a5;
$darkest_blue: #31708e;
$green_accent: #687864;
/* standard measurements */
$main-max-width: 900px;
$std-pad: 8px;
$nav-pad: 12px;
$box-shdw-0: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shdw-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shdw-2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shdw-3: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$box-shdw-4: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$right_arr: "    >";
$left_arr: "<    ";
$reset-sym: "    \21ba";