@import "vars";

header {
  width: 100%;
  background-color: $third_shade;
  * {
    font-family: Arial, sans-serif;
  }
    ul {
      max-width: $main-max-width;
      list-style-type: none;
      margin: 0 auto;
      padding: 12px;
      li {
        display: inline;
        font-size: 1.5em;
        a {
          text-align: center;
          color: black;
          text-decoration: none;
          padding: 12px;
          &:hover, &:active {
          background-color: $darkest_blue;
          }
          &.selected {
            background-color: $light_color;
          }
        }
      }
    }
}